* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

body {
    background-color: grey;
    margin: 25px;
    margin-bottom: 0px;
}

.semantico {
    font-size: 65px;
    text-align: center;
}

nav {
    margin: 25px;
    text-align: center;
}

.list {
    list-style: none;
}

a {
    color: inherit;
}

.Inicio {
    display: inline;
    float: left;
    padding-left: 100px;
    margin: 0px;
    font-size: 25px;
}

.Informacion {
    display: inline;
    float: left;
    padding-left: 250px;
    margin: 0px;
    font-size: 25px;
}

.Galeria {
    display: inline;
    float: center;
    padding-left: 0px;
    margin: 0px;
    font-size: 25px;
}

.Contacto {
    display: inline;
    float: right;
    padding-right: 50px;
    margin: 0;
    font-size: 25px;
}

article {
    text-align: justify;
    margin: 100px;
    margin-top: -55px;
}

.h2 {
    text-align: center;
}

.section1 {
    display: inline-flex;
    text-align: left;
    margin-top: 25px;
}

.section2 {
    text-align: right;
    display: inline;
    margin-top: 100px;
    padding-top: 100px;
}

aside {
    color: aliceblue;
    text-align: right;
    margin-bottom: 45px;
    margin-right: 85px;
    margin-top: -75px;
}

.list2 {
    list-style: none;
}

footer {
    background-color: black;
    color: blueviolet;
    font-size: 25px;
    margin-top: 45px;
}